@import url("https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&display=swap");
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: transparent;
  transition: 0.3s;
  padding: 1.5rem 0rem;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
}

nav {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

header.scroll {
  background-color: #fdfdfd;
}

.nav-logo {
  position: relative;
  flex-grow: 0;
  flex-basis: 30rem;
  flex-shrink: 0;
  transition: 0.3s;
}
.nav-logo :nth-child(2) {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 0;
  top: 0;
}
.nav-logo :nth-child(1) {
  visibility: visible;
  opacity: 1;
}

header.scroll .nav-logo {
  flex-basis: 20rem;
  margin-top: 0;
}

.nav-list {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
.nav-list a {
  font-weight: var(--fw-200);
}

header.scroll .nav-list {
  color: var(--clr-blackish);
}

@media only screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}
.nav-list, .sidenav-list {
  font-weight: var(--fw-300);
  font-size: 1.6rem;
  letter-spacing: 1px;
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}

.sidenav.visible {
  transform: translateX(0);
}

.nav-red {
  background-color: #d4312a;
  width: 60%;
  max-width: 320px;
  min-width: 320px;
  transition-delay: 0.8s;
}

.nav-red.visible {
  transition-delay: 0s;
}

.nav-blue {
  background-color: #00004e;
  width: 288px;
  transition-delay: 0.6s;
}

.nav-blue.visible {
  transition-delay: 0.2s;
}

.nav-white {
  background-color: #fff;
  width: 256px;
  padding: 40px;
  position: relative;
  transition-delay: 0.4s;
}

.nav-white.visible {
  transition-delay: 0.4s;
}

.sidenav-list {
  padding: 0;
  transform: translateX(-100%);
  position: relative;
  transition-delay: 0s;
  text-align: center;
  margin-top: 4rem;
}
.sidenav-list li {
  margin: 2rem 0;
}
.sidenav-list li:last-child {
  margin-top: 4rem;
}

.sidenav.visible .sidenav-list {
  transition-delay: 0.6s;
}

.sidenav-logo {
  width: 100px;
  margin: 0 auto;
  opacity: 0;
  scale: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0s;
}

.sidenav.visible .sidenav-logo {
  transform: rotate(360deg);
  opacity: 1;
  scale: 1;
  transition-delay: 0.8s;
}

@keyframes anilogo {
  from {
    transform: rotate(0) scale(0);
  }
  to {
    transform: rotate(360) scale(1);
  }
}
/******************************************** Hamburger ****************************/
.menu-toggle {
  display: none;
}

#menu-toggle {
  margin-top: 1rem;
  background: none;
  width: 60px;
  height: 60px;
  outline: none;
  z-index: 999;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  transition: 0.3s;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}

header.scroll #menu-toggle {
  margin-top: 0;
}

#menu-toggle span {
  display: block;
  width: 25px;
  height: 2px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: 0.3s linear;
  background-color: rgba(0, 0, 0, 0.4);
}

#menu-toggle.active {
  transition-delay: 0.6s;
}

#menu-toggle.active span:nth-child(1) {
  transform: rotate(-45deg);
  top: 8px;
}

#menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

#menu-toggle.active span:nth-child(3) {
  transform: rotate(45deg);
  bottom: 8px;
}

@media only screen and (max-width: 768px) {
  .menu-toggle {
    display: inline-block;
  }
}
:root {
  --colblue: #28166f;
  --clr-accent: #da251b;
  --clr-gray: #C3C2C6;
  --clr-blackish: #000026;
  --clr-primary-10: #28166f;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--clr-primary-10);
  color: #fff;
}

::selection {
  background-color: var(--clr-primary-10);
  color: #fff;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul,
ul[class],
ol[class] {
  list-style: none;
}

input,
button,
.btn,
a,
textarea,
select {
  font: inherit;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  background: #fdfdfd;
  line-height: 1.4;
  overflow-x: hidden;
  font-family: var(--ff-roboto);
  font-size: 1.8rem;
  color: var(--clr-blackish);
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --ff-nunito: "Nunito Sans", sans-serif;
  --ff-roboto: "Roboto", sans-serif;
  --fw-200: 300; /*Light*/
  --fw-300: 400; /*Regular*/
  --fw-400: 500; /*Semi Bold*/
  --fw-700: 700; /*Bold*/
  --fw-sans-600: 600; /*Semi Bold*/
}

h1, h2, h3, h4, h5, .display {
  color: var(--clr-blackish);
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: var(--fw-sans-600);
  font-family: var(--ff-nunito);
  line-height: 1;
}

.display {
  font-size: 6rem;
  line-height: 1;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
  font-weight: 400;
}

p {
  font-family: var(--ff-roboto), sans-serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: var(--clr-blackish);
}