*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #C3C2C6;
}
.container-div{
  display: flex;
  margin: 0 20px;
  padding: 50px 0;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}
#logo{
  width: 40%;
  border-radius: 50%; 
  box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.08), -8px -8px 12px rgba(255,255,255,.4);
}
svg#logo{
  opacity: 0;
  transform: scale(0);
}
/* #fill-bg, */
#fill-red,
#fill-reds,
#fill-blue,
#fill-blues,
#fill-white{
  opacity: 0;
  /* transform: scale(0); */
}
svg#Tekst{
  /* opacity: 0; */
}

