*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  height: 100vh;
  background-color: #C3C2C6;
  position: absolute;
}
.container-inner{
  padding: 40px 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
svg#Tekst{
  margin-top: 40px;
  max-width: 60%;
}
svg#logo{
  max-width: 50%;
  border-radius: 50%; 
  box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.08), -8px -8px 12px rgba(255,255,255,.4);
  transform: scale(0);
}
#fill-red,
#fill-reds,
#fill-blue,
#fill-blues,
#fill-white{
  opacity: 0;
}
svg#Tekst g > path{
  fill: white;
}
@media screen and (min-width: 800px){
  .container-inner{
    flex-direction: row;
    padding: 0 40px;
  }
  svg#logo{
    width: 25%;
  }
  svg#Tekst{
    width: 50%;
    margin-top: 0;
  }
  svg#logo{
    margin-right: 40px;
  }
}
