@media only screen and (max-width:1160px){
  #sidebar {
    width: 300px;
    left: -300px;
  }
  .sidebarsub,
  .sidebarsub3,
  .sidebarsub4{
    left: -300px;
    width: 300px;
  }
  .sidebartea,
  .sidebarsub2 {
    width: 300px;
  }
  .sidebarsub.subactive,
  .sidebarsub3.subactive,
  .sidebarsub4.subactive {
    left: 300px;
  }
  .sidebarsub2.subactive,
  .sidebartea.subactive {
    left: 600px;
  }
  .submenu{
    left: -300px;
  }
  .submenulink:hover .submenu{
    left: 300px;
  }
}

@media only screen and (max-width:860px){
  #sidebar {
    width: 250px;
    left: -250px;
  }
  .sidebarsub,
  .sidebarsub3,
  .sidebarsub4{
    left: -250px;
    width: 250px;
  }
  .sidebartea,
  .sidebarsub2 {
    width: 250px;
  }
  .sidebarsub.subactive,
  .sidebarsub3.subactive,
  .sidebarsub4.subactive {
    left: 250px;
  }
  .sidebarsub2.subactive,
  .sidebartea.subactive {
    left: 500px;
  }
  .submenu{
    left: -250px;
  }
  .submenulink:hover .submenu{
    left: 250px;
  }
  .menu-left{
    width: 15%;
  }
  .menu-right{
    width: 85%;
  }
  .row-slider{
    flex-direction: column;
  }
  .row-slider .col1{
    width: 100%;
    border-right: 0;
  }
  .row-slider .col2{
    width: 100%;
  }
  .item-slider{
    // float: none;
    display: flex!important;
    flex-direction: row;
  }
  .slider .item-img{
    width: 50%;
    margin: 1rem 2rem 1rem;
    img{
      width: 100%;
      height: 100%;
      max-height: 250px;
      object-fit: contain;
    }
  }
  .slider .item-desc{
    margin: 0 1rem;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .inspired{
    flex-direction: column;
  }
  .inspired .col1,
  .inspired .col2{
    width: 100%;
    border-right: none;
  }
  .blogsection{
    flex-direction: column;
  }
  .row.blogtitle .col1,
  .row.blogtitle .col2{
    border-bottom: 1px solid #d2d2cc;
  }
  main .col1.blogcol{
    width: 100%;
    flex-direction: row;
    padding-left: 0;
    border-top: none;
    border-right: none;
  }
  .blog-img{
    padding-right: 28px;
  }
  .blog-img img{
    height: 100%;
    object-fit: contain;
  }
  .blogsection2{
    flex-direction: column;
  }
  .blogsection2 .col1.blogcol{
    border-top: 1px solid #d2d2cc;
    padding-left: 28px;
    padding-right: 0;
  }
  .blogsection2 .col1.blogcol .blogdesc,
  .blogsection2 .col1.blogcol .blog-img{
    width: 50%;
  }
  .blogsection2 .col1.blogcol .blog-img{
    padding-left: 2rem;
  }
  .about .col2 p {
    -webkit-column-count: 1;
    column-count: 1;
    gap: 0px;
  }
  .footer .row{
    flex-direction: column;
    align-items: center;
  }
  .footer .col1{
    width: 70%;
    margin-bottom: 56px;
  }
  .footer .col2{
    width: 70%;
    margin-bottom: 56px;
  }
  .footer .col3{
    width: 70%;
    display: block;
  }
  .wholesale{
    flex-direction: column;
  }
  .wholesale .col1{
    width: 100%;
    padding-top: 28px;
    margin: 0;
  }
  .wholesale .col1 .pfff{
    margin-top: 1.5rem;
  }
  .wholesale .col2{
    width: 100%;
    margin: 0;
    min-height: 200px;
  }
}
@media only screen and (max-width:660px){
  #sidebar {
    height: calc(100vh - 79px);
    width: 200px;
  }
  #sidebar li{
    font-size: 13px;
  }
  .sidebarsub,
  .sidebarsub3,
  .sidebarsub4{
    width: 200px;
    left: -200px;
  }
  .sidebarsub.subactive,
  .sidebarsub3.subactive,
  .sidebarsub4.subactive {
    left: 200px;
  }
  .sidebarsub2{
    display: none;
  }
  .menu-left{
    width: 10%;
  }
  .menu-right{
    display: none;
  }
  .menu-hamburger{
    display: block;
  }
  .menu-hamburger .fa{
    font-size: 22px;
  }
  .item-slider{
    // float: none;
    display: flex!important;
    flex-direction: column;
    align-items: center;
  }
  .slider .item-img{
    width: 100%;
    margin: 1rem auto;
    img{
      margin: 0 auto;
      width: 50%;
      // height: 100%;
      max-height: 250px;
      object-fit: contain;
    }
  }
  .slider .item-desc{
    width: 100%;
  }
  h1.title{
    font-size: 25px;
  }
  header{
    padding: 0 28px;
  }
  main .row{
    padding: 0 28px;
  }
  .inspired .item-desc{
    display: none;
  }
  .inspired .col2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row.blogtitle .col1{
    display: none;
  }
  .row.blogtitle .col2{
    width: 100%;
  }
  main .col1.blogcol{
    flex-direction: column;
    padding: 28px;
  }
  .blog-img{
    padding: 0;
  }
  .blogsection .blog{
    padding: 0;
  }
  .blogsection2 .col1.blogcol{
    padding: 28px;
  }
  .blogsection2 .col1.blogcol .blogdesc, 
  .blogsection2 .col1.blogcol .blog-img {
    width: 100%;
  }
  .blogsection2 .col1.blogcol .blog-img{
    padding: 0;
  }
  .about .col1{
    width: 15%;
  }
  .about .col2{
    width: 85%;
  }
  .footer .col-bottom{
    text-align: center;
    padding-top: 28px;
  }
  .footer .col-top{
    align-items: center;
  }
  .footer{
    padding: 28px;
  }
  .footer .col1,
  .footer .col2,
  .footer .col3{
    width: 100%;
  }
}