/********************* Buttons and Links ****************************************/ 
a {
  text-decoration: none;
}
.item-options a{
  width: auto;
  text-transform: uppercase;
  font-size: 14px;
  display: inline;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;
  color: #333333;
  position: relative;
}
.item-options a::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #333333;
}
.header-link a{
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  text-transform: uppercase;
}
.menu-link{
  margin: 10px 0;
  line-height: 22px;
}
.menu-link a{
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0;
  color: #333333;
  transition: all .2s ease;
}
.menu-link a:hover{
  color: #d22226;
}

.btn-red{
  display: block;
  // width: 100%;
  background-color: #d22226;
  color: #fafaf3;
  padding: 10px 20px;
  border: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
}
.btn-red:hover{
  opacity: .8;
}
/*******************888 Typography****************************************/ 
.item-info .subtitle{
  text-transform: uppercase;
  letter-spacing: 2px;
}
h1.title{
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 4px;
}
h1.subtitle{
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 14px;
  font-weight: 500;
}
h2.title-small{
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333333;
  margin-bottom: 16px;
}
.header-link{
  margin: 15px 0;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 22px;
  padding-top: 15px;
  border-top: 1px solid #d2d2cc;
}
p.bodytext{
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
p.bodycaps{
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
}

