* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: #fafaf3;
  font-family: 'Jost', sans-serif;
  color: #333333;
  font-size: 16px;
}
::-moz-selection {
  color: #333333;
  background-color: #d22226;
}
::selection {
  color: #333333;
  background-color: #d22226;
}
ul,li{
  list-style: none;
}
img{
  width: 100%
}
@import 'menu';
@import 'typography';
@import 'mediaqueries';
