@media only screen and (max-width: 1200px){
  h1{
    font-size: 9rem;
    line-height: 180px;
  }
  h2{
    font-size: 4.4rem;
    line-height: 46px;
  }
}
@media only screen and (max-width: 991px){
  html{
    font-size: 50%;
  }
  h1{
    line-height: 150px;
  }
  h2{
    line-height: 40px;
  }
  .project-2 .project-text-right{
    width: 50%;
  }
  .footer{
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 760px){
  body{
    cursor: initial;
  }
  html{
    font-size: 40%;
  }
  .cursor,
  .cursor::after{
    display: none;
  }
  p,
  a{
    font-size: 15px;
  }
  .project-image img{
    max-height: 100%;
    object-position: initial;
  }
  .footer .header-top,
  .footer .header-bottom{
    flex-direction: column;
  }
  .footer .header-top p{
    font-size: 4.4rem;
  }
  .footer .header-bottom{
    align-items: initial;
    margin-top: 3.4rem;
    margin-bottom: 3.4rem;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 580px){
  .container.bottom{
    flex-direction: column;
    padding-bottom: 6.8rem;
  }
  .bottom .col{
    display: flex;
    margin-bottom: -6.8rem;
    justify-content: space-between;
    align-items: center;
    // padding-bottom: 3.4rem;
  }
  .bottom .col:not(:last-child){
    margin-right: 0;
  }
  .bottom .col:nth-child(2){
    flex-direction: row-reverse;
  }
  .col .col-img,
  .col .col-text{
    width: 45%;
  }
}
@media only screen and (max-width: 520px){
  .header .header-bottom,
  .header .header-top{
    flex-direction: column;
  }
  .header .header-bottom{
    align-items: flex-start;
    margin-bottom: 3.4rem;
    margin-top: 0;
  }
  .header .header-title{
    margin-bottom: 3.4rem;
  }
  .project,
  .project-2{
    flex-direction: column;
  }
  .project-2 .project-image-2,
  .project-image{
    width: 70%;
    margin-bottom: 3.4rem;
  }
  .project-text-left{
    width: 100%;
    margin: 0;
    margin-bottom: 3.4rem;
  }
  .project-text-right h2,
  .project-text-left h2 {
    line-height: 1.2;
    margin-bottom: 3.4rem;
  }
  .project-2 .project-text-right{
    width: 100%;
    margin: 0;
    text-align: left;
  }
}