
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Bodoni Moda';
  overflow-x: hidden;
  cursor: none;
}
html{
  font-size: 62.5%;
}
#skrollr-body {
  float: left;
  width: 100%;
  // min-height: 1px;
  height: 100%;
}
.cursor{
  pointer-events: none;
  z-index: 1000;
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
}
.cursor::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #000;
  pointer-events: none;
}
.preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .preloader::after{
//   content: '- 100';
//   font-size: 12rem;
//   font-weight: bold;
//   color: rgba(255,255,255,.3);
//   position: absolute;
// }
.preloader.slide-up{
  transform: translateY(-100%);
  transition: .5s;
  transition-delay: 1s;
}
.counter{
  font-size: 2rem;
  color: #000;
  font-weight: bold;
  position: absolute;
  top: 20%;
  left: 20%;
  transform: translate(-50%,-50%);
}
.counter::after{
  content: ' - 100';
  font-size: 2rem;
}
.counter.hide{
  opacity: 0;
  transition: 1s;
}
h1{
  font-size: 12rem;
  line-height: 205px;
  font-weight: 400;
  white-space: nowrap;
  position: relative;
}
h1.super{
  font-size: 29rem;
  line-height: 360px;
  position: relative;
  white-space: nowrap;
}
h2{
  font-size: 6.6rem;
  font-weight: 400;
}
a,
p{
  font-size: 1.9rem;
  line-height: 1.4;
}
.container{
  width: 100%;
  padding: 0 4%;
  position: relative;
}
.header-top{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding-top: 2rem;
}
.logo{
  position: relative;
  animation: anidown 1s ease forwards;
  opacity: 0;
  // animation-delay: 1s;
  animation-delay: 3s;
  top: -50px;
}
.menu{
  position: relative;
  width: 36%;
  min-width: 340px;
  animation: anidown 1s ease forwards;
  // animation-delay: 1.2s;
  animation-delay: 3.2s;
  opacity: 0;
  top: -50px;
}
.line-ani{
  width: 0;
  transform-origin: left;
  animation: lineani 1s ease forwards;
  // animation-delay: 2.5s;
  animation-delay: 4.5s;
}
@keyframes lineani{
  to{
    width: 100%;
  }
}
.header-bottom{
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 9rem 0 15rem;
  align-items: flex-end;
}
.header-title{
  animation: aniup 1s ease forwards;
  // animation-delay: 1.4s;
  animation-delay: 3.4s;
  opacity: 0;
  position: relative;
  margin-top: 3.4rem;
  line-height: 1.02;
  bottom: -100px;
}
@keyframes anidown{
  to{
    opacity: 1;
    top: 0;
  }
}
.header-desc{
  width: 36%;
  min-width: 340px;
  opacity: 0;
  animation: aniup 1s ease forwards;
  // animation-delay: 1.6s;
  animation-delay: 3.6s;
  position: relative;
  bottom: -100px;
}
@keyframes ani1{
  to{
    opacity: 1;
  }
}
@keyframes aniup{
  to{
    bottom: 0;
    opacity: 1;
  }
}
.ani-title{
  opacity: 0;
  animation: aniup 0.5s ease forwards;
  // animation-delay: 3.5s;
  animation-delay: 5.5s;
  bottom: -100px;
}
.ani-title-head{
  opacity: 0;
  animation: ani1 1s ease forwards;
  // animation-delay: 2s;
  animation-delay: 4s;
}
.title-head{
  position: absolute;
  top: 1rem;
}
.title-head-right{
  right: 4%;
}
.line{
  height: 2px;
  background-color: #000;
  transform-origin: left;
}
.project,
.project-2{
  display: flex;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.project-2{
  justify-content: space-between;
}
.project-text-left{
  width: 38.5%;
  min-width: 260px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-right: 4rem;
}
.project-text-right{
  width: 38.5%;
  min-width: 260px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-left: 4rem;
}
.project-image{
  position: relative;
  width: 63.3%;
  margin-right: 0px;
}
.project-text-right h2,
.project-text-left h2{
  line-height: 1;
  margin-bottom: 5rem;
}
.project-image img{
  width: 100%;
  max-height: 450px;
  object-fit: cover;
  object-position: center -50px;
}
.project-text p{
  width: 72%;
}
.project-2{
  .project-text-right{
    text-align: right;
    margin-right: 0;
    margin-left: 4rem;
  }
  .project-image-2{
    width: 50%;
    margin-right: 0px;
  }
  .project-image-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 600px;
  }
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000 #fff;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #fff;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 20px;
  border: 3px solid #fff;
}
.bottom{
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  // justify-content: space-between;
  // align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 5rem;
}
.bottom .col{
  flex: 1;
}
.bottom .col:not(:last-child){
  margin-right: 5%;
}
.bottom .col-img{
  width: 100%;
  height: 100%;
  max-height: 400px;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
}
.bottom img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: top;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.bottom h2{
  line-height: 1;
}
.col-text{
  margin-bottom: 4rem;
  height: auto;
}

.footer-title{
  position: relative;
  margin-top: 3.4rem;
  margin-right: 2rem;
  line-height: 1.02;
}
.footer-desc{
  width: 36%;
  min-width: 340px;
  position: relative;
}
.footer-menu{
  position: relative;
  width: 36%;
  min-width: 340px;
}
.footer .header-bottom{
  margin-bottom: 3rem;
  margin-top: 5rem;
  flex-wrap: nowrap;
}
@import 'media';