* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  box-sizing: border-box;
}

body {
  background-color: #fafaf3;
  font-family: "Jost", sans-serif;
  color: #333333;
  font-size: 16px;
}

::-moz-selection {
  color: #333333;
  background-color: #d22226;
}

::selection {
  color: #333333;
  background-color: #d22226;
}

ul, li {
  list-style: none;
}

img {
  width: 100%;
}

.toggle {
  cursor: pointer;
}

.menu-hamburger {
  display: none;
}

.sidebarclose {
  width: auto;
  text-transform: uppercase;
  font-size: 14px;
  display: inline;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;
  color: #333333;
  position: relative;
}

.pfff {
  width: 100%;
  text-align: center;
  margin-top: 4rem;
}

.sidebarclose::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #333333;
}

.sidebarclose .fa {
  font-size: 20px;
}

.sidebarclose.active {
  visibility: visible;
  opacity: 1;
}

#sidebar {
  position: absolute;
  bottom: 0;
  width: 400px;
  left: -400px;
  height: calc(100vh - 100px);
  z-index: 999;
  background: #fafaf3;
  transition: all 0.5s ease;
  transition-delay: 0.5s;
}

#sidebar.active {
  left: 0;
  transition-delay: 0s;
}

.sidebarsub,
.sidebarsub3,
.sidebarsub4 {
  position: absolute;
  display: block;
  left: -400px;
  top: 100px;
  background: #fafaf3;
  height: calc(100vh - 100px);
  width: 400px;
  z-index: 20;
  transition: all 1s ease;
}

/* .sidebarsub{
  left: 300px;
} */
.sidebartea,
.sidebarsub2 {
  display: block;
  position: absolute;
  left: -400px;
  top: 100px;
  background: #fafaf3;
  height: calc(100vh - 100px);
  width: 400px;
  z-index: 19;
  transition: all 1s ease;
}

.sidebarsub.subactive,
.sidebarsub3.subactive,
.sidebarsub4.subactive {
  left: 400px;
}

.sidebarsub2.subactive,
.sidebartea.subactive {
  left: 800px;
}

.submenu {
  position: absolute;
  left: -400px;
  transition: all 0.5s ease;
  z-index: -10;
}

.submenulink:hover .submenu {
  left: 400px;
}

#sidebar ul {
  padding: 40px 20px 20px 30px;
}

#sidebar li {
  position: relative;
  border-bottom: 1px solid #d2d2cc;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  padding: 14px;
}

#sidebar li:last-child {
  border-bottom: none;
}

#sidebar a {
  color: #333333;
  font-weight: 500;
}

#sidebar li:hover a {
  color: #d22226;
}

#sidebar li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1.5px;
  background-color: #d22226;
  transition: width 0.5s ease;
}

#sidebar li:hover::after {
  width: 100%;
}

li.red {
  margin-top: 10px;
}

li.red a {
  font-family: "Jost", sans-serif;
  color: #d22226;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menutitle {
  padding: 40px 20px 0px 30px;
}

.menu {
  padding: 0 20px 0px 30px;
}

/* Datamenu *********************************************************************** */
.sidebarsub2 #datamenu {
  padding: 2rem;
  padding-top: 4rem;
}

.item-img {
  width: 60%;
  margin: 0 auto 2rem;
}

.item-info {
  text-align: center;
  border-bottom: 1px solid #d2d2cc;
  padding-bottom: 10px;
}

.item-options .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  border-bottom: 1px solid #d2d2cc;
}

.item-options label {
  width: 25%;
}

input.submit {
  display: block;
  width: 100%;
  background-color: #d22226;
  color: #fafaf3;
  padding: 10px 20px;
  border: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
}

.item-options .wrapper:last-of-type {
  border-bottom: none;
}

input.submit:hover {
  opacity: 0.8;
}

label {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
}

.item-options select {
  border: none;
  font-family: "Jost", sans-serif;
  background-color: #fafaf3;
  width: 60%;
  font-size: 15px;
  color: #d22226;
}

.item-options #quantity {
  font-size: 15px;
  font-family: "Jost", sans-serif;
  background-color: #fafaf3;
  border: none;
  width: 60%;
  color: #d22226;
}

input {
  color: red;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

/* [class*='col']{

} */
/********************************* HEADER ***************************************** *********************************************/
header {
  width: 100%;
  padding: 21px 56px 0;
  margin: 0 auto;
}

.main-menu {
  border-bottom: 1px solid #d2d2cc;
  width: 100%;
  height: 79px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-left {
  width: 33.33%;
}

.menu-right {
  width: 66.66%;
  height: 100%;
  justify-content: center;
}

.logo {
  font-size: 55px;
  font-weight: 500;
  color: #d22226;
}

.logo a {
  color: #d22226;
}

.menu-right-row1,
.menu-right-row2 {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu-right-row1 {
  border-bottom: 1px solid #d2d2cc;
}

.menu-right-row1 p {
  border-left: 1px solid #d2d2cc;
  flex-grow: 3;
  display: flex;
  justify-items: flex-start;
  padding-left: 10px;
  align-items: flex-start;
  padding-bottom: 12px;
  padding-top: 12px;
  line-height: 16px !important;
  cursor: pointer;
  transition: 0.4s ease all;
  position: relative;
}

.menu-right-row1 .icon {
  height: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #d2d2cc;
  font-size: 12px;
  cursor: pointer;
  transition: 0.4s ease all;
  position: relative;
}

.menu-right-row2 p {
  flex-grow: 1;
  display: flex;
  justify-items: flex-start;
  padding-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 16px !important;
  border-left: 1px solid #d2d2cc;
  cursor: pointer;
  transition: 0.4s ease all;
  position: relative;
}

.menu-right-row1 p:hover,
.menu-right-row2 p:hover,
.menu-right-row1 .icon:hover {
  color: #d22226;
}

.menu-right-row1 p:after,
.menu-right-row2 p:after,
.menu-right-row1 .icon:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #d22226;
  width: 0%;
  transition: 0.4s ease all;
}

.menu-right-row1 p:hover:after,
.menu-right-row2 p:hover:after,
.menu-right-row1 .icon:hover:after {
  width: 100%;
}

.header-img {
  margin-top: 28px;
  margin-bottom: 28px;
}

/*********************** Footer ****************************************************/
.footer {
  width: 100%;
  padding: 42px 56px 56px;
  background-color: rgb(240, 237, 226);
  color: #333333;
  font-size: 14px;
}

.footer-title {
  color: rgb(153, 153, 153);
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer-link {
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: 400;
}

.footer-link a {
  color: rgb(51, 51, 51);
  position: relative;
  transition: 0.4s ease all;
}

.footer-link a:hover {
  color: #d22226;
}

.footer-link a::after {
  content: "";
  position: absolute;
  right: -2.5rem;
  opacity: 0;
  top: 50%;
  width: 6px;
  height: 6px;
  transform: translateY(-50%);
  background-color: #d22226;
  border-radius: 50%;
  transition: all 0.4s ease;
  visibility: hidden;
}

.footer-link a:hover::after {
  right: -1.5rem;
  opacity: 1;
  visibility: visible;
}

.footer .row {
  display: flex;
  align-items: flex-start;
}

.footer .col {
  width: 33.3%;
  display: flex;
}

.footer .col-left,
.footer .col-right {
  width: 50%;
}

.footer .col1 {
  justify-content: flex-end;
  align-items: flex-end;
}

.footer .col3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer .col-top {
  display: flex;
}

.footer .col-bottom {
  text-align: right;
}

.footer .col-bottom .fa {
  padding: 1rem;
  border-left: 1px solid #d2d2cc;
  cursor: pointer;
  transition: all 0.2s ease;
}

.footer .col-bottom .fa:hover {
  color: #d22226;
}

.footer-wrapper p {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

/*************************** Main COntent *****************************************/
main .row {
  width: 100%;
  padding: 0 56px;
  display: flex;
}

main .col1,
main .col2 {
  padding: 28px;
  display: flex;
}

main .col1 {
  width: 33.33%;
  border-top: 1px solid #d2d2cc;
  border-right: 1px solid #d2d2cc;
  display: flex;
  flex-direction: column;
}

main .col1:nth-child(3) {
  border-right: none;
}

main .col2 {
  width: 66.66%;
  border-top: 1px solid #d2d2cc;
  position: relative;
}

.col2slider {
  overflow: hidden;
}

.slider-wrap {
  width: 100%;
  position: relative;
  padding: 28px;
}

.slider .item-slider {
  text-align: center;
}

.slider .item-img {
  width: 40%;
  margin-top: 2rem;
}

.slick-arrow .slick-next-1,
.slick-arrow .slick-prev-1,
.slick-arrow .slick-next-2,
.slick-arrow .slick-prev-2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #d22226;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.slick-arrow .slick-prev-1,
.slick-arrow .slick-prev-2 {
  left: 30px;
}

.slick-arrow .slick-next-1,
.slick-arrow .slick-next-2 {
  right: 30px;
}

.slick-arrow {
  transition: 0.6s all ease;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}

.slick-arrow .slick-next-1 .fa,
.slick-arrow .slick-prev-1 .fa,
.slick-arrow .slick-next-2 .fa,
.slick-arrow .slick-prev-2 .fa {
  font-size: 10px;
  color: #fafaf3;
}

.slick-arrow .slick-next-1::before,
.slick-arrow .slick-prev-1::before,
.slick-arrow .slick-next-2::before,
.slick-arrow .slick-prev-2::before {
  display: none;
}

.row-slider:hover .slick-arrow {
  visibility: visible;
  opacity: 1;
}

.row-slider:hover h2.title-small {
  color: #d22226;
}

.row-slider:hover .slick-prev-1,
.row-slider:hover .slick-prev-2 {
  left: 15px;
}

.row-slider:hover .slick-next-1,
.row-slider:hover .slick-next-2 {
  right: 15px;
}

.progress-1,
.progress-2 {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  overflow: hidden;
  background-image: linear-gradient(to right, #d22226, #d22226);
  background-repeat: no-repeat;
  background-size: 0 100%;
  transition: background-size 0.4s ease-in-out;
}

.col2.col2slider {
  padding: 0;
}

.col2.noslider {
  display: flex;
  flex-direction: row;
}

.col2.noslider .item-slider {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-content: flex-end;
}

.col2.noslider .img-box {
  max-width: 60%;
  margin: 0 auto;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogtitle .col2 {
  flex-direction: column;
  padding-top: 4rem;
}

.blog {
  padding: 0 1rem;
}

.blogsection .col1 {
  border-bottom: 1px solid #d2d2cc;
}

.blog .title-small {
  margin: 1.2rem 0;
}

.blog .blog-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-top: 1px solid #d2d2cc;
  border-bottom: 1px solid #d2d2cc;
}

.blog .blog-info .blog-date {
  border-right: 1px solid #d2d2cc;
  width: 50%;
  padding: 1rem 0 0.8rem 0.5rem;
}

.blog .blog-info .blog-cat {
  width: 50%;
  padding: 1rem 0 0.8rem 0.5rem;
}

.blog .redlink {
  display: block;
  color: #d22226;
  padding-top: 2rem;
}

.blog-img {
  position: relative;
  line-height: 0;
}

.blog-img .blog-img-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s ease all;
  opacity: 0;
}

.blog-img .blog-img-overlay h1 {
  opacity: 0;
  transition: 0.5s ease all;
}

.blog-img:hover .blog-img-overlay h1 {
  opacity: 1;
}

.blog-img:hover .blog-img-overlay {
  opacity: 1;
  background: linear-gradient(90deg, #fafaf3 5px, transparent 1%) center, linear-gradient(#fafaf3 5px, transparent 1%) center, #a6a6a2;
  background-size: 6px 6px;
  background-position: top left;
}

.wholesale {
  color: #fff;
}

.wholesale .col1,
.wholesale .col2 {
  margin-top: 28px;
  margin-bottom: 28px;
  background-color: #d22226;
  border: none;
}

.wholesale .col2 {
  background-image: url(../img/tea01small.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.wholesale .title-small,
.wholesale .sidebarclose {
  color: #fff;
}

.wholesale .title-small {
  font-size: 18px;
}

.wholesale .sidebarclose::after {
  background-color: #fff;
}

.blogsection2 .blogdesc {
  margin-bottom: 2rem;
}

.blogsection2 .col1 {
  justify-content: space-between;
}

.about .col2 {
  flex-direction: column;
  padding-bottom: 56px;
}

.about .col2 p {
  -moz-column-count: 2;
       column-count: 2;
  gap: 56px;
}

/********************* Buttons and Links ****************************************/
a {
  text-decoration: none;
}

.item-options a {
  width: auto;
  text-transform: uppercase;
  font-size: 14px;
  display: inline;
  margin: 0 auto;
  text-align: center;
  letter-spacing: 2px;
  color: #333333;
  position: relative;
}

.item-options a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: -1px;
  left: 0;
  background-color: #333333;
}

.header-link a {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  text-transform: uppercase;
}

.menu-link {
  margin: 10px 0;
  line-height: 22px;
}

.menu-link a {
  font-size: 15px;
  font-weight: 400;
  margin: 10px 0;
  color: #333333;
  transition: all 0.2s ease;
}

.menu-link a:hover {
  color: #d22226;
}

.btn-red {
  display: block;
  background-color: #d22226;
  color: #fafaf3;
  padding: 10px 20px;
  border: none;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
}

.btn-red:hover {
  opacity: 0.8;
}

/*******************888 Typography****************************************/
.item-info .subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h1.title {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 4px;
}

h1.subtitle {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
  padding: 14px;
  font-weight: 500;
}

h2.title-small {
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333333;
  margin-bottom: 16px;
}

.header-link {
  margin: 15px 0;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 22px;
  padding-top: 15px;
  border-top: 1px solid #d2d2cc;
}

p.bodytext {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

p.bodycaps {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 1160px) {
  #sidebar {
    width: 300px;
    left: -300px;
  }
  .sidebarsub,
  .sidebarsub3,
  .sidebarsub4 {
    left: -300px;
    width: 300px;
  }
  .sidebartea,
  .sidebarsub2 {
    width: 300px;
  }
  .sidebarsub.subactive,
  .sidebarsub3.subactive,
  .sidebarsub4.subactive {
    left: 300px;
  }
  .sidebarsub2.subactive,
  .sidebartea.subactive {
    left: 600px;
  }
  .submenu {
    left: -300px;
  }
  .submenulink:hover .submenu {
    left: 300px;
  }
}
@media only screen and (max-width: 860px) {
  #sidebar {
    width: 250px;
    left: -250px;
  }
  .sidebarsub,
  .sidebarsub3,
  .sidebarsub4 {
    left: -250px;
    width: 250px;
  }
  .sidebartea,
  .sidebarsub2 {
    width: 250px;
  }
  .sidebarsub.subactive,
  .sidebarsub3.subactive,
  .sidebarsub4.subactive {
    left: 250px;
  }
  .sidebarsub2.subactive,
  .sidebartea.subactive {
    left: 500px;
  }
  .submenu {
    left: -250px;
  }
  .submenulink:hover .submenu {
    left: 250px;
  }
  .menu-left {
    width: 15%;
  }
  .menu-right {
    width: 85%;
  }
  .row-slider {
    flex-direction: column;
  }
  .row-slider .col1 {
    width: 100%;
    border-right: 0;
  }
  .row-slider .col2 {
    width: 100%;
  }
  .item-slider {
    display: flex !important;
    flex-direction: row;
  }
  .slider .item-img {
    width: 50%;
    margin: 1rem 2rem 1rem;
  }
  .slider .item-img img {
    width: 100%;
    height: 100%;
    max-height: 250px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .slider .item-desc {
    margin: 0 1rem;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .inspired {
    flex-direction: column;
  }
  .inspired .col1,
  .inspired .col2 {
    width: 100%;
    border-right: none;
  }
  .blogsection {
    flex-direction: column;
  }
  .row.blogtitle .col1,
  .row.blogtitle .col2 {
    border-bottom: 1px solid #d2d2cc;
  }
  main .col1.blogcol {
    width: 100%;
    flex-direction: row;
    padding-left: 0;
    border-top: none;
    border-right: none;
  }
  .blog-img {
    padding-right: 28px;
  }
  .blog-img img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .blogsection2 {
    flex-direction: column;
  }
  .blogsection2 .col1.blogcol {
    border-top: 1px solid #d2d2cc;
    padding-left: 28px;
    padding-right: 0;
  }
  .blogsection2 .col1.blogcol .blogdesc,
  .blogsection2 .col1.blogcol .blog-img {
    width: 50%;
  }
  .blogsection2 .col1.blogcol .blog-img {
    padding-left: 2rem;
  }
  .about .col2 p {
    -moz-column-count: 1;
         column-count: 1;
    gap: 0px;
  }
  .footer .row {
    flex-direction: column;
    align-items: center;
  }
  .footer .col1 {
    width: 70%;
    margin-bottom: 56px;
  }
  .footer .col2 {
    width: 70%;
    margin-bottom: 56px;
  }
  .footer .col3 {
    width: 70%;
    display: block;
  }
  .wholesale {
    flex-direction: column;
  }
  .wholesale .col1 {
    width: 100%;
    padding-top: 28px;
    margin: 0;
  }
  .wholesale .col1 .pfff {
    margin-top: 1.5rem;
  }
  .wholesale .col2 {
    width: 100%;
    margin: 0;
    min-height: 200px;
  }
}
@media only screen and (max-width: 660px) {
  #sidebar {
    height: calc(100vh - 79px);
    width: 200px;
  }
  #sidebar li {
    font-size: 13px;
  }
  .sidebarsub,
  .sidebarsub3,
  .sidebarsub4 {
    width: 200px;
    left: -200px;
  }
  .sidebarsub.subactive,
  .sidebarsub3.subactive,
  .sidebarsub4.subactive {
    left: 200px;
  }
  .sidebarsub2 {
    display: none;
  }
  .menu-left {
    width: 10%;
  }
  .menu-right {
    display: none;
  }
  .menu-hamburger {
    display: block;
  }
  .menu-hamburger .fa {
    font-size: 22px;
  }
  .item-slider {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
  .slider .item-img {
    width: 100%;
    margin: 1rem auto;
  }
  .slider .item-img img {
    margin: 0 auto;
    width: 50%;
    max-height: 250px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .slider .item-desc {
    width: 100%;
  }
  h1.title {
    font-size: 25px;
  }
  header {
    padding: 0 28px;
  }
  main .row {
    padding: 0 28px;
  }
  .inspired .item-desc {
    display: none;
  }
  .inspired .col2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .row.blogtitle .col1 {
    display: none;
  }
  .row.blogtitle .col2 {
    width: 100%;
  }
  main .col1.blogcol {
    flex-direction: column;
    padding: 28px;
  }
  .blog-img {
    padding: 0;
  }
  .blogsection .blog {
    padding: 0;
  }
  .blogsection2 .col1.blogcol {
    padding: 28px;
  }
  .blogsection2 .col1.blogcol .blogdesc,
  .blogsection2 .col1.blogcol .blog-img {
    width: 100%;
  }
  .blogsection2 .col1.blogcol .blog-img {
    padding: 0;
  }
  .about .col1 {
    width: 15%;
  }
  .about .col2 {
    width: 85%;
  }
  .footer .col-bottom {
    text-align: center;
    padding-top: 28px;
  }
  .footer .col-top {
    align-items: center;
  }
  .footer {
    padding: 28px;
  }
  .footer .col1,
  .footer .col2,
  .footer .col3 {
    width: 100%;
  }
}